{% extends "layout.html" %}

{% block content %}
<h1> A little intro about me.</h1>
        <p>I have many hobbies that I find fulfilment in my life from collecting records to doing photography.
        My love for photography arose when I took a Photo Journalism class when I was a sophmore in highschool.
        There I learned how to use a SLR. I learned everything from how to shoot manual, rules of compositions
        to how to develop film in a dark room. Now I currently work for Salem Fields Community Church 
        as a Production assisant, and part of the job requires me to be their photographer for large events.
        Aside from that, I still love to shoot for my own enjoyment and will continue to pursue this art.</p>
        
        <img src="static/images/Camping-4.jpg" alt="HTML5 Icon" width ="768";height="432";>
{% endblock %}