{% extends "layout.html" %}

{% block content %}
<h1> Welcome</h1>
<p> Welcome to my homepage!<br>
        
<div id="site_content">
      <ul class="slideshow">
        <li class="show"><span class= "center"><img width="1024" height="576" src="static/images/DSC_0351.jpg" alt="&quot;Exploring the woods and came across this.&quot;" /></li>
        <li><span class= "center"><img width="1024" height="576" src="static/images/SmithFieldCarBruh.jpg" alt="&quot;Saw this beauty and I couldn't resist.&quot;" /></li>
        <li><span class= "center"><img width="1024" height="576" src="static/images/DSC_0362.jpg" alt="&quot;This photo was taken with a long exposure.&quot;" /></li>
        <li><span class= "center"><img width="1024" height="576" src="static/images/DSC_0412.jpg" alt="&quot;A photogenic bench.&quot;" /></li>
      </ul>
</div>
        
{% endblock %}